# Auto detect text files and perform LF normalization
* text=auto
So for now I have added the head, title and now I will be working on the body.

The body is looking great for now.
I told the readers what is project "GitHub" and what I will be doing in it.
For those of you who still dont know - "Project GitHub" is a project where I will be learning to 
            code and share what Iveve learned throughout the time.
            For me it sounds hard but thats how I want it to be!